@import './variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
$theme-colors: (
    "primary": $blue
);

* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

p.modal-title {
  margin: 0 0 1rem;
  color: $blue-light;
  font-weight: bold;
}

.modal-info {
  & .info-title {
    border-bottom: 1px solid $blue;

    &.error {
      color: $red;
    }
  }

  & p.info-label {
    margin: 0;
    font-size: $font-normal;
  }
  & p.info-text {
    font-weight: bold;

    &.amount {
      color: $red;
    }
  }

  p {
    word-break: break-word;
  }
}


