@import './variables.scss';

.convert-form {
  padding-bottom: 1.5rem;
  margin-top: -1px;
  background: $blue-gradient;
  color: #fff;

  & .invoice-input {
    background: none;
    color: #fff;
    outline: 1px solid #fff;
    border: none;

    &::placeholder {
      color: #fff;
    }
  }

  & .form-text.error {
    color: $red;
  }
  & .form-text.success {
    color: $green;
  }

  & h1 {
    font-weight: bold
  }
}
.convert-button {
  margin: 1rem 0 0;
}