$blue: #15265E;
$blue-light: #0A4FCC;
$blue-gradient: linear-gradient(82.7deg, #15265E 37.49%, #0A4FCC 130.95%);
$red: #EC2929;
$green: #1ac244;

$font-small: 10px;
$font-normal: 12px;
$font-large: 16px;
$font-extra--large: 24px;
$font-extra-extra--large: 32px;

$shadow-button: 4px 6px 14px rgba(20, 20, 20, .2);